# Banco de dados (MariaDB/MySQL)
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=indicadores

# Credenciais de login no site Elos (intranet)
ELOS_USER=
ELOS_PASSWORD=

# Opcionais
# ELOS_URL=http://10.31.36.30/elos
# CHROME_PATH=C:\Program Files\Google\Chrome\Application\chrome.exe
# HEADLESS=false
# BACKLOG_TABLE=backlog_elos
# REGIOES_VALIDAS=CENTRO OESTE,NORTE
# MIN_LINHAS=1000
# BATCH_SIZE=500
